extends ../layout

block content
  h1 Posts
  if user
    .col-sm-12 
      form(method='POST',action="/postsubmit")
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          .col-md-1
            label.control-label(for='title') Title
          .col-md-3
            input.form-control(type='text', name='title', id='title', placeholder='Title', autofocus, required)
          .col-md-3
            input.form-control(type='text', name='username', id='username', placeholder='Title', required readonly value=user.id)
          .col-md-4
            textarea.form-control(name='content', id='content', placeholder='Content', autofocus, required)
          .col-md-1
            button.btn.btn-primary(type='submit')
              i.fa.fa-send
              | Post
  else
    div
     #{posts}