extends layout

block content
  h1 MeanJs Starter Application
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-12
      h2 Heading
      p This is a basic MEANJS Application.
      p
        a.btn.btn-default(href='http://shashank.space', target='_blank' role='button') View details »